<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehaviour">
          <serviceMetadata httpGetEnabled="false" />

        </behavior>

      </serviceBehaviors>

    </behaviors>
    <services>
      <service name="MDFileServiceLibrary.FileService"  behaviorConfiguration="serviceBehaviour"  >
        <endpoint name="duplexEndpoint"  binding="wsDualHttpBinding"  contract="MDFileServiceLibrary.IFileService"  />
        <endpoint name="metaEndpoint"  address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/FileService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>